<div class="row ">
    <div class="col-2 pe-0 text-center sColor">
        <hr class="mt-0 mb-0">
        <div class="d-flex justify-content-center align-items-center pt-2 pb">
            <img class="iUser" src="assets/img/200x200.png" alt="">
            <p class="mb-0 ms-2 text-white">Nome do usuario</p>
        </div>
        <hr class="mt-0 mb-0">
        <ul class="list-group">
            <li class="list-group-item sColor"><a routerLink="/admin/usuario" class="text-white"><i class="fas fa-users me-2"></i>Usuarios</a></li>
            <li class="list-group-item sColor"><a routerLink="/admin/produto" class="text-white"><i class="fas fa-box-open me-2"></i>Produtos</a></li>
        </ul>
    </div>
    <div class="col-10 ps-0">
        <router-outlet></router-outlet>
    </div>
</div>




