<div class="container">
    <h3>Produtos do carrinho</h3>
    <div class="container p-0">
        <div class="row mt-3 pb-0">
            <div class="col-7 tColor">
                <p class="mb-0">Informações do produto</p>
            </div>
            <div class="col-2 tColor">
                <p class="mb-0">Quantidade</p>
            </div>
            <div class="col-3 tColor">
                <p class="mb-0">Preço</p>
            </div>
            
            <div class="col-7 mt-3">
                <div class="d-flex">
                    <img src="assets/img/200x200.png" style="width: 101px; height: 76px;">
                    <div>
                        <p class="mb-0 ms-2">NOME DO PRODUTO</p>
                        <p class="mb-0 ms-2"><small>CODIGO DO PRODUTO</small></p>
                        <p class="mb-0 ms-2 mt-2"><small>Vendendor do produto</small></p>
                    </div>
                    
                </div>
            </div>
            <div class="col-2 mt-3">
                <input type="text" class="form-control" placeholder="000" style="width: 85px;">
                <p class="mb-0 ms-3 mt-1"><a href="">Excluir</a></p>
            </div>
            <div class="col-3 mt-3">
                <p class="mb-0"><small>R$: 0000,00 ou</small></p>
                <p class="mb-0"><small>R$: 0000,00 à vista</small></p>
            </div>
        </div>
    </div>

    <hr>

    <div class="mt-4" style="width: 250px;">
        <div class="input-group mt-3">
            <input type="text" class="form-control" placeholder="00000-000" style="height: 38px;">
            <button class="btn btn-secondary ms-1"><p class="mb-0">Calcular frete</p></button>
            <div class="d-flex align-items-center">
                <a href="" class="ms-2" style="color: gray;">Não sei meu cep</a>
            </div>
        </div>
    </div>

    <div class="tColor">
        <div class="row">
            <div class="col-7">
                <p class="mb-0"></p>
            </div>
            <div class="col-2 text-end">
                <p class="mb-0">Subitem(x Items)</p>
            </div>
            <div class="col-3">
                <p class="mb-0"><small>R$: 0000,00 ou</small></p>
                <p class="mb-0"><small>R$: 0000,00 à vista</small></p>
                <button class="btn btn-success mt-3"> Continuar</button>
            </div>
        </div>
    </div>



</div>