<app-navbar></app-navbar>
<div class="mx-4 mt-5">
    <div class="row">
        <div class="col-7 col-sm-7 col-md-7">
            <div class="card" >
                <img src="/assets/img/200x200.png" class="card-img-top" alt="...">
            </div>
        </div>
        <div class="col-5 col-sm-5 col-md-5">
            <div class="card">
                <div class="card-body">
                    <p class="mb-0">R$: PREÇO ALEATORIO <br><small>á vista no boleto ou no pix com 15% de desconto</small></p>
                    <br>
                    <p class="mb-0">RS: PREÇO MAIOR <br><small>Em 12x sem juros no cartão de PREÇO DIVID</small></p>
                </div>
            </div>
            <div class="mt-3">
                <button class="btn  btn-success w-100">Adicionar ao carrinho</button>
            </div>
            <div class="input-group mt-3">
                <input type="text" class="form-control" placeholder="00000-000" style="height: 38px;">
                <button class="btn btn-secondary ms-1"><p class="mb-0">Calcular frete</p></button>
                <div class="d-flex align-items-center">
                    <a href="" class="ms-2" style="color: gray;">Não sei meu cep</a>
                </div>
            </div>

        </div>
    </div>

    <div class="mt-5">
        <h3><b>Informações do produto</b></h3>
    </div>
    <div class="">
        <div class="card">
            <div class="card-body">
                <p class="" style="text-align: justify;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed risus pretium quam vulputate dignissim suspendisse. Duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam. Porttitor leo a diam sollicitudin tempor. Egestas diam in arcu cursus euismod quis. Aliquam ut porttitor leo a diam sollicitudin tempor. Tincidunt eget nullam non nisi. Quis blandit turpis cursus in hac. Amet massa vitae tortor condimentum. Et malesuada fames ac turpis egestas integer eget aliquet nibh. At varius vel pharetra vel turpis. Et molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit. Habitasse platea dictumst vestibulum rhoncus. Vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Elit ullamcorper dignissim cras tincidunt lobortis.
                    Leo in vitae turpis massa sed. Bibendum est ultricies integer quis auctor elit. Tortor dignissim convallis aenean et tortor at risus viverra. Ut ornare lectus sit amet est placerat in. Enim praesent elementum facilisis leo vel fringilla est ullamcorper. Integer enim neque volutpat ac tincidunt vitae. Suspendisse in est ante in nibh mauris. Est sit amet facilisis magna etiam tempor orci. Dictum sit amet justo donec enim diam vulputate ut pharetra. Netus et malesuada fames ac turpis egestas integer eget aliquet. Vestibulum rhoncus est pellentesque elit.
                    Augue lacus viverra vitae congue eu. Mi ipsum faucibus vitae aliquet nec ullamcorper sit. Adipiscing enim eu turpis egestas pretium aenean pharetra magna. Vestibulum sed arcu non odio euismod lacinia at. Lorem donec massa sapien faucibus et molestie ac. Id aliquet risus feugiat in ante metus dictum. Semper auctor neque vitae tempus quam pellentesque nec nam. Platea dictumst quisque sagittis purus sit amet volutpat consequat. Id faucibus nisl tincidunt eget nullam non nisi est sit. Amet venenatis urna cursus eget nunc scelerisque.
                    Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue. Lectus proin nibh nisl condimentum id venenatis a condimentum. Dui id ornare arcu odio. Habitasse platea dictumst vestibulum rhoncus est pellentesque. Et ligula ullamcorper malesuada proin libero nunc. Donec adipiscing tristique risus nec. Scelerisque mauris pellentesque pulvinar pellentesque. Mattis aliquam faucibus purus in massa tempor nec feugiat. Ultrices in iaculis nunc sed augue. Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu. Congue quisque egestas diam in arcu cursus. Sapien pellentesque habitant morbi tristique senectus et netus et. Nec dui nunc mattis enim ut. Risus quis varius quam quisque id diam. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper eget. Nunc lobortis mattis aliquam faucibus purus in massa tempor nec. Purus faucibus ornare suspendisse sed nisi lacus sed viverra.
                    Praesent semper feugiat nibh sed pulvinar proin gravida hendrerit lectus. Semper feugiat nibh sed pulvinar. Viverra justo nec ultrices dui sapien eget mi. Quam vulputate dignissim suspendisse in est ante in. Adipiscing elit pellentesque habitant morbi tristique senectus. Vulputate dignissim suspendisse in est ante in. Nullam vehicula ipsum a arcu cursus vitae congue mauris rhoncus. Volutpat sed cras ornare arcu dui vivamus arcu felis bibendum. Duis convallis convallis tellus id interdum velit. Lacus sed viverra tellus in hac habitasse platea dictumst vestibulum.
                    Malesuada proin libero nunc consequat interdum varius. Molestie at elementum eu facilisis sed odio morbi. Sollicitudin tempor id eu nisl nunc mi ipsum faucibus vitae. Eu augue ut lectus arcu bibendum at varius vel. Blandit massa enim nec dui nunc mattis enim ut. Aenean pharetra magna ac placerat. Est ultricies integer quis auctor elit sed. Mauris a diam maecenas sed. Massa tempor nec feugiat nisl pretium fusce id velit ut. Volutpat commodo sed egestas egestas fringilla phasellus. Mattis molestie a iaculis at erat. Ultrices in iaculis nunc sed augue lacus viverra vitae.
                </p>
            </div>
        </div>
    </div>

</div>

